<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SQLServer" connectionString="Data Source=127.0.0.1;Initial Catalog=ColombiaInfo-DATA;User ID=TEST-ColombiaInfo;Password=FTbY+yNYM%!t" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Download" value="False"/>
    <add key="Save-Download" value="False"/>
    <add key="Download-Url" value="http://www.aerocivil.gov.co/SitePages/consultas/FormItinerarios.aspx"/>
  </appSettings>
</configuration>